.intro-img {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name-h1 {
    text-align: center;
    display: block;
    text-transform: uppercase;
}

.about-h3 {
    text-align: center;
    display: block;
    border-bottom: 1px solid black;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 25px;
}

.description-p {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    text-align: justify;
}

.details-div {
    border: 1px solid rgb(16, 20, 20);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 0px 0px black;
}

.listwrapper-ul {
    margin-left: 30px;
    margin-right: 60px;

}

.listitem-li {
    list-style-image:url('google-icon.png');
    text-align: justify;
    margin-bottom: 16px;
}

.footernote-p {
    text-align: center;
    display: block;
}